* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(128, 128, 128);
  }
  h1 {
    text-align: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px auto;
  }
  a {
    text-decoration: none;
    background-color: rgb(229, 255, 0);
    color: black;
    border: radius 1px;
    padding: 4px 8px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .zero {
    color: rgb(229, 255, 0);
    font-size: 35px;
  }
